body {
    background: rgba(255, 247, 127, 0.3);
    font-family: 'Raleway', sans-serif;
    margin: 5%;
  }
  
 .topbar{
   color:wheat;
   text-align: center;
   margin-bottom: 4%;
   padding: 3%;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 3vw;
   background-color: cadetblue;
 }

 .notes {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 2%;
    margin-bottom: 10%;
} 

h3 {
    color:black;
    text-align: left;
    margin: 4%;
    padding-left: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
  }
  
ul{
    color:#296862;
    text-align: left;
    margin: 4%;
  }

.list {
    list-style: square inside;
    font-size: 1.5vw;
  }

 
img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.digiarchive{
    padding-top: 3%;
    display: flex;
    width: 50%;
    padding-bottom: 6%;
    margin-left: 25%;
  }

#original{
  width: 60%;
  height:auto;
}
blockquote {
    margin: auto;
    width: 40%;
    padding: 10px;
    margin-bottom: 10%;
}

blockquote p {
    padding: 3%;
    background:#FFD787;
    border-radius: 5px;
    font-size: 1.3vw;
}

table{
  margin: auto;
  width: 50%;
  margin-bottom: 10%;
}

table,
td {
    border: 1px solid #00636F;
    font-size: 1.5vw;
}

caption {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 700;
    font-size: 1.5vw;
    padding-bottom: 3%;
}
thead {
    background-color: #FFD787;
    color:#00636F ;
}

.color1 {
  background-color: #9CD6EA;
}

.color2 {
  background-color: #C9F2C0;
}

.organize {
  margin: auto;
  width: 50%;
  padding: 3%;
  margin-bottom: 10%;
} 

a{
  background: -webkit-linear-gradient(#e128ff, #ff5151);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
  font-size: 2vw;
}

a:hover { 
  background: -webkit-radial-gradient(#40ff00, #7d81ff, #00ed8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.duplicate{ 
  max-width: 20%;
  margin-left: 30%;
  margin-bottom: 2%;
  float: left;
}

.duplicate:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(60);
  transition: 0.5s ease-in-out;
}

.textwrap{
  width:40%;
  font-size: 1.5vw;
  margin-left: 30%;
  margin-top: 3%;
}

