body {
 background-color: #F2CCD9;
}


.the-opening { 
  background: black;
  font-family: 'Space Mono', monospace;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

}
h1 {
  margin: -10px;
  font-size: 60px;
  margin-bottom:20px;

}
h2{
  font-size: 20px;

}

.center{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.center2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.intro{
  background: black;
  color: white;
  padding-top: 150px;
  padding-bottom: 100px;
 padding-left: 200px;
padding-right:200px;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 30px;



}
.question-container{
  color: white;
  border-radius: 10px;
  position: relative;
  background: black;
  padding-top: 100px;
padding-left: 200px;
padding-right:200px;

}

.question{
 font-family: 'IBM Plex Mono', monospace;
 font-weight: 700;
 font-size: 30px;
}

.answer{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 40px;
}


.question-container2 {
  padding:150px;
  color: #F62591;
  font-size: 20px;
}

.question2{
   padding-bottom: 20px;
   text-align:left;
   color: #F62591;
   font-family: 'Noto Serif SC', serif;
   font-size:30px;

}

.answer2{
  padding-left: 400px;
  color :#931F4C;
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  font-size:30px;
}




