@font-face {
  font-family: Recife Display Trial;
  src: url(fonts/RecifeDisplayTrialWeb-Black.woff) format("woff"),
       url(fonts/RecifeDisplayTrialWeb-Black.woff2) format("woff2");
}

@font-face {
  font-family: "LetteraText";
  src: url(fonts/LetteraTextLLWebTrial-RegularTrial.woff) format("woff");
}

body{
    background-color: #35AF88 ;
    font-size: 16px;
}

.header{
  margin-bottom: 20px;
  position: -webkit-sticky;
position: sticky;
top: 0px;
}

.title{
display: block;
position: absolute;
z-index: 1;
margin: auto;

top: 0%;
text-align: center;
font-family: Recife Display Trial;
font-style: normal;
font-weight:900;
text-transform: lowercase;
color: #FFFFFF;
}

a{
  background: linear-gradient(115.93deg, rgba(255, 255, 255, 0.59) 1.31%, rgba(255, 255, 255, 0.4) 76.19%);
  box-shadow: 4px 4px 4px -1px rgba(41, 36, 0, 0.7);
  color:  #395930;
  padding: 20px;
  font-family: 'LetteraText', sans-serif;
  text-transform:uppercase ;
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  position: absolute;
  z-index: 2;
 
  text-decoration: none;

}

a:hover {
  color:white;
  -moz-box-shadow:    inset 0px 2px 2px 1px #313c2e;
  -webkit-box-shadow: inset 0px 2px 2px 1px #313c2e;
  box-shadow:         inset 0px 2px 2px 1px #313c2e;
}

.container{
  position: absolute;
  z-index: -1;
  display:flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
     align-content: flex-start; 
     filter:opacity(20%)
}
.container > div {
box-sizing: border-box;
margin: 10px 10px 0 0;
}

.plant-container{
    width:100px;
    height: 100px;
    display: block; 
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.plant-container.active{
  width:70vw;
  height:70vw;
  display: block;
  background-repeat: no-repeat;
    background-size: 70vw 70vw;
}


.main{
  display: flex;
}

img{
  position: absolute;
  z-index: 0;
}


.main{
  display: flex;

}
.filter{
    font-size: 20px;
    display: block;
    background: linear-gradient(115.93deg, rgba(255, 255, 255, 0.59) 1.31%, rgba(255, 255, 255, 0.4) 76.19%);
    box-shadow: 30px 20px 25px rgba(57, 89, 48, 0.2);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter:blur(40px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 0px 53px 53px 0px;
margin-right: 10px;
padding:10px ;
position: -webkit-sticky;
position: sticky;
top: 0px;
}

.flex{
    display: flex;
    
}

.flex > span {
  box-sizing: border-box;
  margin: 0px 10px 0 0;
  background: linear-gradient(115.93deg, rgba(255, 255, 255, 0.59) 1.31%, rgba(255, 255, 255, 0.4) 76.19%);
box-shadow: 3px 2px 2.5px -1px rgba(57, 89, 48, 0.2);
font-family: Roboto;
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */
padding: 5px;
border-radius: 5px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title{
    font-size: 100px;
    line-height: 100px;
    top:20vh;
    left:5vh;
  }
  .leaf-1{
    width: 70vw;
    height: auto;
    left: -60px;
    top: -10vh;
    
    filter: drop-shadow(30px 20px 20px #1d452e);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .leaf-2{
    position: absolute;
width: 80vw;
height: auto;
left: 23vw;
top: 80vh;

filter: drop-shadow(30px 20px 40px #1d452e);
transform: rotate(106.25deg);
  }

  a{
    top:65vh;
    left:30vw;
    font-size:18px;
  }

  .plant-container{
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
  .title{
    top:2vh;
    left: 32vw;

    font-size: 12vw;
    line-height: 12vw;
  }
  .leaf-1{
    width: 30vw;
    height: auto;
    left: -60px;
    top: -10vh;
    
    filter: drop-shadow(30px 20px 20px #1d452e);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .leaf-2{
    position: absolute;
width: 30vw;
height: auto;
left: 70vw;
top: 60vh;

filter: drop-shadow(30px 20px 40px #1d452e);
transform: rotate(106.25deg);
  }
  
  a{
    top:80vh;
    left:42vw;
    font-size: 2vw;
  }
}
