/* The body's font-size is smaller by default */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin: 0.5em;
  background-color: white;
}

h1 {
  position: relative;
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  padding: 2vw;
  color: rgb(0, 167, 167);
}

.shape {
  width: 200px;
  height: 20px;
  position: relative;
  display: inline-block;
  margin-left: 50%;
  background-color: #ffe002;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transform: rotate(45deg);
  animation-name: toDroplet;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

@keyframes toDroplet {
  0% {background-color: #ffe002 }
  25% {background-color: rgb(145, 255, 0); }
  50% {background-color: rgb(71, 255, 178); }
  75% {background-color: rgb(5, 255, 255);}
  90%{background-color: #c4e1ff;   border-radius: 50%;
    border-top-right-radius: 0;
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);}
  100% {background-color: #c4e1ff;   border-radius: 50%;
    border-top-right-radius: 0;
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);; 
  }
}

.words span{
  opacity: 0;
  width: 100%;
  margin: 0.5em;
  position: relative;
  font-size: 24px;
}

.words-2 span{
  animation: animateWords 10s linear infinite 0s;
}

.words span:nth-child(2) {
  animation-delay: 1s;
  color: #e760c2;
}
.words span:nth-child(3) {
  animation-delay: 2s;
  color: green;
}
.words span:nth-child(4) {
  animation-delay: 3s;
  color: #e760c2
}
.words span:nth-child(5) {
  animation-delay: 4s;
  color: green;
}
.words span:nth-child(6) {
  animation-delay: 5s;
  color: #e760c2;
}

@keyframes animateWords {
  0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
  8% { opacity: 1; height: 60px; }
  19% { opacity: 1; height: 60px; }
  25% { opacity: 0; height: 60px; }
  100% { opacity: 0; }
}

.ocean { 
  height: 2%;
  width:90%;
  position:relative;
  z-index: -1;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 50% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}



#container {
  color:indianred;
  font-size:36px;
  position: relative; 
  width:90%;
  display:block;
  text-align:center;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 2vw;
  position: relative;
  z-index: 2;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.sidebar{
  float: right;
  width: 10%;
  position: fixed;
  z-index: 1;
 
  overflow-x: hidden;
  padding-top: 20px;
  top: 0;
  right: 0;
  height: 100%;

  animation-name: expand;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  }

  @keyframes expand {
    0% {
      width: 10%;
    }
    40%{
      width: 100%;border-radius: 0%
    }
    80% {
      width: 100%; border-radius: 50%;
    }
    100% {
      width: 100%; border-radius: 50%;
    }
  }


.mug {
    display: block;
    max-width: 90%;
    height: auto;
    left: 0;
    filter: none;
    transition: all 0.5s ease;
  }

.mug:hover {
  filter: hue-rotate(90deg);
  cursor: pointer;
  -webkit-transform: rotate(-360deg) scale(0.5);
  transform: rotate(-360deg) scale(0.5);
}

p{
  color:black;
}


/* Mobile- makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 90%;
  }
  .sidebar,.words,.words-2,.ocean,#container{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px; 
    background-color: #c0f3ff;
  }
  .shape,.ocean,#container {
    display: none;
  }
  
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 20px; 
    background-color: #88e9ff;
  }

  .ocean{
    display: none;
  }
  .words,.words-2 {
    display: none;
  }
  #container{
    display: block;
  }
}


/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 24px; 
    background-color: #05a5ce;
  }
  h1 {
    color: rgb(195, 255, 255);
  }
  p{
    color: white;
  }
  .sidebar{
    background-image: url("poolwater.jpeg");
  }
 #container{
    display: none;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 30px;
    background-color: #007d9c;
  }
  h1 {
    color: rgb(195, 255, 255);
  }
  p{
    color: white;
  }
  .sidebar{
    background-image: url("wind-wave-sea-wave-png-transparent-background-11562942976eumxwhrbcb.png");
  }
  .mug{
    max-width: 1080px;
    border-radius: 50px;
  } 
  @keyframes expand{
    display: none;
  }
  .ocean{
    display: block;
  }

}